<section class="section">
  <h2 class="section-title">グループ参加</h2>

  <%= form_with url: join_group_path, html: { class: "input-form" }, method: :patch do |f| %>
    <div><%= f.label :invite_token, "招待トークン" %></div>
    <div><%= f.text_field :invite_token %></div>
    <div class="actions">
      <%= f.submit "参加する", class: "submit-btn" %>
    </div>
  <% end %>

  <p><%= link_to "戻る", navigation_group_path %></p>
</section>
