<h1>ダッシュボード</h1>

<% if current_user.group.present? %>
  <p>所属グループ名: <%= current_user.group.name %></p>
  <p>招待トークン: <%= current_user.group.invite_token %></p>
  <h3>所属ユーザー</h3>
  <ul>
    <% @group_users.each do |user| %>
      <li>
        <%= user.name %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>グループの作成か参加をしてください。</p>
<% end %>

<%= link_to "グループを作成", new_group_path %>
<%= link_to "グループに参加", join_group_path %>
<%= link_to "グループを退会", leave_group_path, data: { turbo_method: :delete } %>
